<div class="row" id="gui">
  <div id="visionquest" stye="display: block">
    <%= render 'visionquest' %>
  </div>
  <div id="result" style="<%= @ref.blank? ? 'display:none' : '' %>">
    <%= render 'results' %>
  </div>
  <div class="medium-4 medium-push-4 columns">
    <div class="medium-4 medium-pull-4 columns"><!-- left side: ads can go here --></div>
    <div class="medium-4 columns"><!-- right side: ads can go here --></div>
  </div>
</div>

<script>
  vqStart();
</script>
