<div class="row" id="gui">
  <div class="medium-4 medium-push-4 columns">
    <div id="score-board" class="row">
      <div id="counter" class="small-6 columns" ><div class="abs"><div id="timer">15</div><div id="minus3" class="penalty adjust">-3<small>sec</small></div><div id="minus1" class="penalty adjust">-1</div><small>sec</small></div></div>
      <div id="score" class="small-6 text-right columns"><div class="abs"><small>Level</small><div id="level">1</div></div></div>
    </div>
    <div id="game" class="row small-up-2">
    </div>
    <a class="button hide" href=""><strong>PLAY AGAIN!</strong></a>
    <a id="logo" style="margin-left:10px;" class="text-center" href="index.html">
       <%= render 'vq_logo' %>
    </a>
  </div>
  <div class="medium-4 medium-pull-4 columns"> <!-- Left Ads --> </div>
  <div class="medium-4 columns"> <!-- Right Ads --> </div>
</div>
